<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MXgroup2GBgroup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MXgroup2GBgroup.Properties.Settings>
            <setting name="MyState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MyLoc" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="MySize" serializeAs="String">
                <value>612, 394</value>
            </setting>
            <setting name="MaxthonPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GreenPath" serializeAs="String">
                <value />
            </setting>
        </MXgroup2GBgroup.Properties.Settings>
    </userSettings>
</configuration>